<header class="main-header header-style-one">

            <div class=header-upper>
                <div class="inner-container clearfix">

                    <div class=logo-box>
                        <div class=logo><a href=/
                                title="MooAssist"><img id=thm-logo
                                    src="/mooassist-logo-light.png"
                                    data-logo-light="/mooassist-logo-light.png"
                                    data-logo-dark="/mooassist-logo-dark.png"
                                    alt="MooAssist"
                                    title="MooAssist"></a></div>
                    </div>
                    <div class="nav-outer clearfix">

                        <button type="button" class="mobile-nav-toggler" aria-label="Open navigation"><span class="fa fa-bars"></span></button>

                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse show clearfix" id=navbarSupportedContent>
                                <ul class="navigation clearfix">
                                    <li><a href=/>Home</a></li>
                                    <li><a href=/about>About</a></li>
                                    <li class=dropdown><a href=/services>Services<div class="dropdown-btn sf-hidden"></div></a>
                                        <ul>
                                            <li><a href=/website-development>Website Development</a></li>
                                            <li><a href=/graphic-designing>Graphic Designing</a></li>
                                            <li><a href=/digital-marketing>Digital Marketing</a></li>
                                            <li><a href=/seo>SEO &amp; Content Writing</a></li>
                                            <li><a href=/app-development>App Development</a></li>
                                            <li><a href=/ui-designing>UX/UI Development</a></li>
                                        </ul>
                                    </li>
                                    <li><a href=/contact>Contact Us</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="other-links clearfix">

                        <div class=cart-btn>
                            <a href=https://pixydrops.com/linoorhtml/cart.html class="theme-btn cart-toggler"><span
                                    class=flaticon-shopping-cart></span></a>
                        </div>

                        <div class=search-btn>
                            <button type=button class="theme-btn search-toggler"><span
                                    class=flaticon-loupe></span></button>
                        </div>
                        <div class=link-box>
                            <div class=call-us>
                                <a class=link href=tel:6668880000>
                                    <span class=icon></span>
                                    <span class=sub-text>Call Anytime</span>
                                    <span class=number>666 888 0000</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>

<div class=side-menu__block>
            <div class="side-menu__block-overlay custom-cursor__overlay">
                <div class=cursor style=top:175px;left:1163px></div>
                <div class=cursor-follower style=top:153px;left:1141px></div>
            </div>
            <div class=side-menu__block-inner>
                <div class="side-menu__top justify-content-end">
                    <a href=# class="side-menu__toggler side-menu__close-btn"><img
                            src=data:image/webp;base64,UklGRuoBAABXRUJQVlA4WAoAAAAYAAAAEAAAEAAAQUxQSHAAAAABT6AmANA0yucUgLk1WkQETHz+w7WCaW3tTT66jcPGwVp1gF4kcdH0dVO+GSL6r7Bt2yZ7J+0ZXQCLVfKWACC/7NAhAKUD+eWAsO29DqH2ADBKuCP6fdoDZ9j7F3Dw/CMQwcKkjd1PXkTeSF7t/0MCVlA4IJIAAADQBgCdASoRABEAPlEkj0WjoiEUBAA4BQSxgFiPjeIVQXYDyBGgP0A6f/ZAPXA/gG6AewB6AHnp+qr+qoEzcIAA/vp5X1XTeLKH24yJK3ttN/LpQ0T9yHlQVTNBVcYx6L8+0UqX6gv41qu5ltiJsbI6mBhLd2nO4QDwuZkFt8NxSC2+Gvd30eJCDf57EZgIAAAAAEVYSUa6AAAARXhpZgAASUkqAAgAAAAGABIBAwABAAAAAQAAABoBBQABAAAAVgAAABsBBQABAAAAXgAAACgBAwABAAAAAgAAABMCAwABAAAAAQAAAGmHBAABAAAAZgAAAAAAAABIAAAAAQAAAEgAAAABAAAABgAAkAcABAAAADAyMTABkQcABAAAAAECAwAAoAcABAAAADAxMDABoAMAAQAAAP//AAACoAQAAQAAABEAAAADoAQAAQAAABEAAAAAAAAA
                            alt></a>
                </div>
                <nav class=mobile-nav__container>


                    <div class="collapse navbar-collapse show clearfix" id=navbarSupportedContent>
                        <ul class="navigation clearfix">
                            <li><a href=/>Home</a></li>
                            <li><a href=/about>About</a></li>
                            <li class=dropdown><a href=/services>Services<div class=dropdown-btn><span class="fa fa-angle-right"></span></div></a>
                                <ul class=sf-hidden>
                                    <li><a href=/website-development>Website Development</a></li>
                                    <li><a href=/graphic-designing>Graphic Designing</a></li>
                                    <li><a href=/digital-marketing>Digital Marketing</a></li>
                                    <li><a href=/seo>SEO &amp; Content Writing</a></li>
                                    <li><a href=/app-development>App Development</a></li>
                                    <li><a href=/ui-designing>UX/UI Development</a></li>
                                </ul>
                            </li>
                            <li><a href=/contact>Contact Us</a></li>
                        </ul>
                    </div>
                </nav>
                <div class=side-menu__sep></div>
                <div class=side-menu__content>
                    <p>Linoor is a premium Template for Digital Agencies, Start Ups, Small Business and a wide range of
                        other agencies.</p>
                    <p><a href=mailto:needhelp@linoor.com>needhelp@linoor.com</a> <br> <a href=tel:888-999-0000>888
                            999 0000</a></p>
                    <div class=side-menu__social>
                        <a href=#><i class="fab fa-facebook-square"></i></a>
                        <a href=#><i class="fab fa-twitter"></i></a>
                        <a href=#><i class="fab fa-instagram"></i></a>
                        <a href=#><i class="fab fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
        </div>

<div class=search-popup>
            <div class="search-popup__overlay custom-cursor__overlay">
                <div class=cursor style=top:175px;left:1163px></div>
                <div class=cursor-follower style=top:153px;left:1141px></div>
            </div>
            <div class=search-popup__inner>
                <form action=# class=search-popup__form>
                    <input type=text name=search placeholder="Type here to Search...." value>
                    <button type=submit><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
